@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Sirin+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400;500;600;700;800&family=Sirin+Stencil&display=swap");

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: darkorange;
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: "Sirin Stencil", cursive;
}
main {
  color: rgb(255, 255, 255);
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
h1 {
  font-family: "Kaushan Script";
  font-size: 60px;
  text-align: center;
}
